.App{
    display: flex;
    margin: 10px;
}
.post{
    border: red solid 2px;
    padding: 10px
}
.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(350px);
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: opacity 500ms ease-in;
}
.page__wrapper{
    margin-top: 30px;
    display: flex;
}
.page{
    padding: 10px;
    border: 1px solid green;
    cursor: pointer;
}
.page__current{
    border: 3px solid orange;
    font-weight: bold;
    background-color: gold;
}